@using Sitecore.Mvc
@using Sitecore.Data.Items
@using FakeFlix.Models

<div id="carouselExampleFade"
     class="carousel-wrapper carousel slide carousel-fade"
     data-bs-ride="carousel">
    <div class="carousel-inner">

        @{ foreach (BannerItems items in Model.BannerList)
            {
                <div class="carousel-item">
                    @Html.Sitecore().Field("BannerImage", items.BannerItem, new { @class = "d-block w-100" })
                    <div class="banner-caption">
                        <p>@Html.Sitecore().Field("BannerEyebrowText", items.BannerItem)</p>
                        <h5>@Html.Sitecore().Field("BannerTitleText", items.BannerItem)</h5>
                    </div>
                </div>
            }
        }
    </div>
    <button class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleFade"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
    </button>
    <button class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleFade"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
    </button>
</div>