@using Sitecore.Mvc;
@using Sitecore.Mvc.Presentation;
@model Sitecore.Mvc.Presentation.RenderingModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous" />
    <title>FakeFlix - Browse your Favorite Movies</title>
    <script defer="defer" src="~/Content/js/react-components.js"></script>

</head>
<body>

    @Html.Sitecore().Placeholder("fakeflix-header")
    <div>
        @Html.Sitecore().Placeholder("fakeflix-main")
    </div>
    @Html.Sitecore().Placeholder("fakeflix-footer")

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="~/Content/vendor/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script>
        $(".grid").imagesLoaded(function () {
            $(".grid").masonry({
                itemSelector: ".grid-item",
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="~/Content/js/script.js"></script>
</body>
</html>
