<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="error-wrapper d-flex justify-content-center align-items-center">
                <div class="d-flex flex-column align-items-center">
                    <div class="error-page-title">
                        <h5>ERROR PAGE</h5>
                    </div>
                    <div class="error-page-404">
                        <h1>404</h1>
                    </div>
                    <div class="error-page-desc">
                        <p>PAGE CAN NOT BE FOUND</p>
                    </div>
                    <div class="error-page-details">
                        <p class="text-center">
                            The page you are looking for does not exist. It may have been
                            moved, or removed altogether. Perhaps you can return back to the
                            site's homepage and see if you can find what you are looking for.
                        </p>
                    </div>
                    <div class="error-page-cta">
                        <a href="#" class="cta-link">BACK TO HOMEPAGE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>