@using Sitecore.Mvc.Extensions
@model FakeFlix.Models.BreadCrumbModel
@using FakeFlix.Models

        <div class="breadcrumb-wrapper">
            <nav class="breadcrumb-nav">
                <ol class="breadcrumb">
                    @foreach (var i in Model.AncestorsDetails)
                    {
                        <li class="breadcrumb-item"><a href="@i.URL" class="@(i.IsActive ? "disable": "active")">@i.Name</a></li>
                    }
                </ol>
            </nav>
        </div>