<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file shows how to change elements in the <settings> section
of the web.config file

To enable this, rename this file so that it has a ".config" extension

Notice that when changing simple settings like this, you can typically put in the
setting directly without using "patch:attribute" like we do in the structure below.
But you can also use "patch:attribute" for clarity:
    <setting name="RequireLockBeforeEditing">
      <patch:attribute name="value">false</patch:attribute>
    </setting>

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<!--  REQUIRE LOCK BEFORE EDITING
            If true, the user must have a lock on a document before
            he can edit it, otherwise it is always ready for editing
      -->
			<setting name="RequireLockBeforeEditing" value="false"/>
			<setting name="MailServer" value="smtp.gmail.com" />
			<!--  MAIL SERVER USER
				If the SMTP server requires login, enter the user name in this setting
		  -->
			<setting name="MailServerUserName" value="official.fakeflix@gmail.com" />
			<!--  MAIL SERVER PASSWORD
				If the SMTP server requires login, enter the password in this setting
		  -->
			<setting name="MailServerPassword" value="gj10hrfkpobyv" />
			<!--  MAIL SERVER PORT
				If the SMTP server requires a custom port number, enter the value in this setting.
				The default value is: 25
		  -->
			<setting name="MailServerPort" value="587" />
			<!--  MAIL SERVER SSL
				If the SMTP server requires SSL, set the value to true.
				The default value is: false
		-->
			<setting name="MailServerUseSsl" value="true" />
			<!--  MASTER VARIABLES REPLACER
				Specifies that class that will replace variables when creating
				a new master, e.g. "$id" and "$parentid"
		  -->

		</settings>
	</sitecore>
</configuration>